        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Vechiuclo Placa </h1>
          <p class="mb-4">Mantenimientos realizados por vehiculo

            lista lo que se le hahecho al vehiculo

            empresa nombre y alias
            detalle de lo que se le hizo al vehiculo
            kilometraje
            fecha
            recomendacion de proximo Mantenimiento
            proveedor en caso de repuesto
            mejor agregar lista de repuestos, la idea es que pueden ser varios los repuestos 
            tambien es ideal en otra vista listar los repuestos con los datos de proveesdor y contacto y opcion de ver historico de repuestos</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            	<a href="/mantenimiento/add" class="btn btn-success">Nuevo</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Tipo</th>
                      <th>Taller</th>
                      <th>Alias</th>
                      <th>Detalle</th>
                      <th>Kilometraje</th>
                      <th>Fecha</th>
                      <th>::</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Tipo</th>
                      <th>Taller</th>
                      <th>Alias</th>
                      <th>Detalle</th>
                      <th>Kilometraje</th>
                      <th>Fecha</th>
                      <th>::</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Mofle</td>
                      <td>SChupest</td>
                      <td>HGGS8712</td>
                      <td>Perristro</td>
                      <td>$320,800</td>
                      <td>Ninguna</td>
                      <td>
            						<a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            						<a href="#" class="btn btn-info"><i class="fas fa-edit"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
